*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 428px;
  height: 926px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  font-size: 40px;
  
}

div {
  margin-top: 40px;
}

h1 {
  font-size: 65px;
  margin-bottom: 20px;
}

button:first-of-type {
  margin-bottom: 20px;

}

#saveButton {
  margin-bottom: 15px;
}

p,
ul {
  font-size: 40px;
  margin-bottom: 20px;
}

ul,
p:last-of-type {
  margin-bottom: 40px;
}

ul {
  list-style: none;
}