*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: #fff;
  background-color: #141414;
}

body {
  width: 430px;
  height: min-content;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  font-size: 35px; 
}

div {
  margin: 40px 10px;
}

h1 {
  margin-bottom: 20px;
  font-size: 60px;
}

button:first-of-type {
  margin-bottom: 20px;

}

#saveButton {
  margin-bottom: 15px;
}

p,
ul {
  margin-bottom: 20px;
  font-size: 40px;
}

ul,
p:last-of-type {
  margin-bottom: 40px;
}

span {
  font-weight: bold;
}

ul {
  list-style: none;
}

footer p {
  font-size: 20px;
}